<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Payment Confirmation</title>
    <style>
        /* Add your styles here */
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <table>
                <tr>
                    <td style="text-align: left;">
                        <a href="#">
                            <img src="icons/bookMyShowLogo.png" alt="BookMyShow Logo">
                        </a>
                    </td>
                    <td style="text-align: right;">
                        <p>THIS IS <span style="color: red;">NOT</span> YOUR TICKET</p>
                        <p style="font-size: 11px; color: #74777e;">Exchange this at the box office for your ticket</p>
                    </td>
                </tr>
            </table>
        </div>

        <div class="common-container">
            <p>Dear {{userName}},
            <br>Your ticket(s) are <b>Confirmed!</b></p>

            <div class="second-container">
                <table>
                    <tr>
                        <td>
                            <p style="margin-left:0px">BOOKING NUMBER<br>
                            <b style="font-size:15px">{{bookingId}}</b></p>
                        </td>
                        <td style="text-align: right;">
                            <a href="#">
                                <img src="icons/ticketBarcode.png" alt="Barcode" class="barcode">
                            </a>
                        </td>
                    </tr>
                </table>

                <div class="third-container">
                    <table>
                        <tr>
                           <td style="background-color: black; color: white; padding: 6px;">
                                <p><b>{{movieName}}</b></p>
                                <p><span>{{theaterName}}</span></p>
                                <p><span>{{showTime}}</span> | 
                                   <span>{{showDate}}</span></p>
                            </td>
                             <td style="background-color: black;color: white;text-align: center;padding: 20px;border-left: 1px dotted white;">
                                <b>{{totalSeats}} seats</b>
                            </td>
                        </tr>
                    </table>

                    <table style="margin-left:10px;width:90%">
                        <tr style="border-bottom:1px dotted black"><td>ORDER SUMMARY</td></tr>
                        <tr style="border-bottom:1px dotted black">
                            <th>TICKET AMOUNT</th>
                            <td style="text-align:right">${{seatPrize}}</td>
                        </tr>
                        <tr>
                            <th>Quantity</th>
                            <td style="text-align:right"><b>{{totalSeats}}</b></td>
                        </tr>
                        <tr>
                            <th>Convenience Fees</th>
                            <td style="text-align:right"><b>${{convenienceFees}}</b></td>
                        </tr>
                        <tr style="border-bottom:1px dotted black">
                            <th>Discount</th>
                            <td style="text-align:right"><b>$0.00</b></td>
                        </tr>
                        <tr>
                            <th style="font-size: 16px;">AMOUNT PAYABLE:</th>
                            <td style="font-size: 16px; text-align:right">
                                <b>${{subTotalPrize}}</b>
                            </td>
                        </tr>
                    </table>
                </div>

                <table>
                    <tr>
                        <td><b>BOOKING DATE & TIME</b><br>
                            <span>{{bookingDate}}</span>
                        </td>
                        <td><b>PAYMENT TYPE</b><br>
                            <span>{{paymentType}}</span>
                        </td>
                        <td><b>CONFIRMATION NUMBER</b><br>
                            <span>{{paymentId}}</span>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="important-instructions">
                <b>Important Instructions:</b><br><br>
                Customers have to carry the printout and SMS of the booking confirmation in order to collect the 
                tickets at the Booking Counter without which the cinema will not issue tickets.<br>
                Tickets once booked cannot be exchanged, canceled, or refunded.<br>
                The Credit Card and Credit Card Holder must be present at the ticket counter while collecting the ticket(s).<br>
                Service Tax & Swachh Bharat Cess collected and paid to the department.<br>
                Business Auxiliary Services. PAN-Based STC No. AABCB3428PST002.<br><br>
            </div>
        </div>

        <div class="footer">
            <table>
                <tr>
                    <td style="text-align: left;">
                        <p>For any further assistance</p>
                        <p><a href="mailto:helpdesk@bookmyshow.com">helpdesk@bookmyshow.com</a></p>
                    </td>
                    <td style="text-align: right;">
                        <p>9876543210</p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
